h1{
    color: red;
    font-size: 20px;
    font-weight: bold;
    background-image: conic-gradient(#553c9a 30%, #ee4b2b 40%, #ee4b2b 70%, #00c2cb 80%, #553c9a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h2{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

h3{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

body{
    background-color: #e2d8d8;
    color: rgb(240, 236, 236);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-evenly;
}

button{
    background-color: rgb(54, 49, 45);
    color: rgb(240, 236, 236);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}